.form-inputField input{
    width: 100%;
    margin-bottom: 15px;
    padding: 8px 10px;
    border-radius: 10px;
    background: white;
}
.form-inputField .submit{
    width: auto;
    display: flex;
    margin: 0 auto;
}