@import url('https://fonts.googleapis.com/css2?family=Festive&display=swap');

.nav-logo{
    font-size: 45px;
    font-family: 'Festive', cursive;
}
.link-title{
    font-weight: bolder;
    transition: .3s;
    color: rgb(0, 0, 0);
}
.link-title:hover{
    color: green;
    border-bottom: 1.02px solid rgb(221, 39, 39);
}