.title-bold-text{
    font-size: 50px;
    font-weight: bolder;
    color: #000000;
}

.card-container{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px whitesmoke;
    overflow: hidden;
    mix-blend-mode: multiply;
}
.card-container:hover{
    transition: all .5s ease-in-out;
    box-shadow: 2px 2px 10px  #615e5e;
}
.img-container{
    overflow: hidden;
}
.card-img{
    height: 240px;
    object-fit: cover;
}
.card-img:hover{
    cursor: zoom-in;
    transform: scale(1.08);
    transition: all .5s ease-in-out;
}

.card-body{
    margin-top: 10px;
    background-color: #ffe603c4;
}

  .enroll-btn:hover{
    background-color: black;
    color: white;
    transition: all .3s ease-in;
  }
  .card-text{
      color: #141622;
  }